.create-todo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 7%;
}

.redirection {
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.button-home {
    background-color: transparent;
    border-radius: 12px;
    border: none;
}

.button-home:hover {
    color: red;
}
