.nav-bar {
    margin: 10px;
    border-radius: 8px;
    padding: 5px;
    background-color: rgb(17, 17, 213);
    box-shadow: -5px 5px 2px black;
}

.elem-nav {
    display: flex;
    justify-content: flex-cent;
    align-items: center;
    gap: 1%;
}

.button-nav {
    background-color: transparent;
    margin: 5px;
    border-radius: 4px;
    border-color: transparent;
}

.button-nav:hover {
    background-color: rgba(128, 128, 128, .2);
}

.nav-bar::button {
    background-color: transparent;
    padding: 10px;
    border: none;
}

.box {
    background-color: whitesmoke;
    margin: 5%;
    padding: 2%;
    border-radius: 12px;
    border:  5px solid black;
    display: flex;
    flex-direction: column;
}

.icon-button {
    font-size: 300%;
}
