.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: transparent;
    position: sticky;
    padding-right: 3%;
}

.nav-bar:hover {
    background-color: rgb(128, 128, 128, 0.4);
}

.elem-nav {
    display: flex;
    justify-content: flex-cent;
    align-items: center;
    gap: 1%;
}

.button-nav {
    background-color: transparent;
    margin: 5px;
    border-radius: 4px;
    border-color: transparent;
}

.button-nav:hover {
    background-color: rgba(128, 128, 128, .2);
}

.nav-bar::button {
    background-color: transparent;
    padding: 10px;
    border: none;
}

.box {
    background-color: whitesmoke;
    margin: 5%;
    padding: 2%;
    border-radius: 12px;
    border:  5px solid black;
    display: flex;
    flex-direction: column;
}

.icon-button {
    font-size: 300%;
}

.profil {
    text-align: center;
}
