.edit-link {
    background-color: transparent;
    border-radius: 4px;
    border-color: transparent;
    margin-bottom: 1%;
    display: flex;
    flex-direction: row;
}

.edit-link:hover {
    background-color: grey;
}

.btn-delete {
    background-color: transparent;
    border-radius: 4px;
    border-color: transparent;
    margin-bottom: 1%;
}

.btn-delete:hover {
    background-color: grey;
}

.box-elem {
    display: flex;
    margin: 1%;
    display: flex;
    flex-direction: column;
    min-width: 200px;
    min-height: 200px;
    max-width: 200px;
    padding: 5px;
    justify-content: space-between;
    border-radius: 4px;
    background-color: #ebecf0;
}

.data-elem {
    display: flex;
    flex-direction: column;
}

.button-elem {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.elem-title {
    text-align: left;
    text-transform: uppercase;
}

.elem-end {
    text-align: left;
    background-color: rgb(255, 255, 255, 1);
    border-radius: 4px;
    padding: 3%;
}

.elem-end:hover {
    background-color: rgba(68, 65, 65, 0.2);
}

.not-finish-task {
    text-align: left;
    color: red;
}

.finish-task {
    text-align: left;
    color: green;
}
